<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>

    <%= form_for(@user) do |f| %>
   	  <%=  f.text_field :first_name, :placeholder => "First name", :size => 20, :style=>"background-color : #000"%>
      <%=  f.text_field :last_name, :placeholder => "Last name", :size => 20, :style=>"background-color : #000"%>
      <%=  f.text_field :email, :placeholder => "Email", :size => 20, :style=>"background-color : #000"%>
      <%=  f.text_field :password, :placeholder => "Password", :size => 20, :style=>"background-color : #000"%>
      <%= f.submit "Create an account", class: "btn-submit", :style=>"background-color : #000" %>
    <% end %>

  
    </div>
  </div>
</div>