<%= form_for(@datum) do |f| %>
  <% if @datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% @datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @columns = Datum.column_names %>
  <% @columns.each do |col| %>
    <% display = "#{col}" %>

    <div class="field">
      <%= f.label :display, display %><br>
      <%= f.text_field col %>
    </div>

  <% end %>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>

  <div class="addColumn">
    <%= %>



<% end %>
