<!-- Makes background -->
<body style="background-color:#D3D3D3;">
<style>
header {
    padding: 1em;
    color: black;
    background-color: #D3D3D3;
    clear: left;
    text-align: center;
}

</style>

<!-- Makes title -->
<header>
   <h1>Baltimore City Public Schools</h1>
   <h2>School Information Search</h2>
</header>

<center>
<!-- Code for the category combobox, search bar, and search button -->
<%= form_tag data_path, :method => 'get', enforce_utf8: true do %>

  <% if params[:Search_Group] %>
    <% if params[:Search_Group][:group_id] %>
      <% @selected = params[:Search_Group][:group_id] %>
    <% end %>
    <% @selected = params[:Search_Group][:group_id] %>
  <% else %>
    <% @selected = "" %>
  <% end %>

  <%= collection_select :Search_Group, :group_id, SearchGroup.all.order(:group_name), :id, :group_name, { include_blank: 'School Profile', selected: @selected } %>
  <%= text_field_tag :search, params[:search], maxlength: 300, placeholder: "Search by any keyword or school number", id: "searchBar" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<div id="homepage" >
  <a href= "http://localhost:3000">Home</a>
</div>

</center>
<br>

<script>
  function checkStatus() {
    if (document.getElementById("searchBar").value != "") {
      document.getElementById("resultsTable").style.visibility = "visible";      
    }
  }

  window.onload = checkStatus;
</script>


<!-- Sets up look of table -->
<html>
  <head>
    <style>
      #resultsTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: separate;
        width: 100%;
        border:solid #008080 1px;
        border-radius:6px;
      }

      #resultsTable  th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #008080;
        color: white;
        border-top: none;
      }

      #resultsTable td {
        text-align: center;
      }

      #resultsTable td:first-child {
        border-left: none;
      }

      #resultsTable td, #resultsTable th {
        border: 0px solid #ddd;
        padding: 8px;
      }

      #resultsTable tr:nth-child(even){background-color: #f2f2f2;}

      #resultsTable tr:hover {background-color: #ddd;}


    </style>
  </head>
  <body>
    <%= link_to 'New Datum', new_datum_path %>
    <br>

    <!-- Code for the table displaying the search results -->
    <table id="resultsTable" border ="1" width =100% style="visibility:hidden" script="onload='checkStatus()'">

      <!-- prints the column names for top of the table -->
      
      <tr>
      <th></th>
      <th></th>
      <th></th>
        <% @columns.each do |col| %>
        <th>
          <%= col %>
        </th>
        <% end %>
      </tr>
      <%#= @columns %>
      <% @data.each do |datum| %>
        <tr>

            <div id = "links" >
              <!-- Appends the Show/Edit/Destroy options as hyperlinks -->
              <td><%= link_to 'Show', datum %></td>
              <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
              <td><%= button_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>

            <% @columns.each do |cell| %>
              <td>
                <%= datum[cell] %>
              </td>
            <% end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>
<br>

