<!-- Makes background -->
<body style="background-color:#D3D3D3;">
<style>
header {
    padding: 1em;
    color: black;
    background-color: #D3D3D3;
    clear: left;
    text-align: center;
}
</style>

<!-- Makes title -->
<header>
   <h1>Baltimore City Public Schools</h1>
   <h2>School Information Search</h2>
</header>

	<%= form_tag data_path, :method => 'get' do %>
 		<%= text_field_tag :search, params[:search] %>
 		<%= submit_tag "Search" %>
 	<% end %>

<!-- Code for the category combobox, search bar, and search button -->
  <%= form_tag data_path, :method => 'get', enforce_utf8: true do %>
    <%= collection_select :Search_Group, :select, SearchGroup.all.order(:group_name), :children_columns, :group_name, { include_blank: 'School Profile'}  %>
    <%= text_field_tag :search, params[:search], maxlength: 300, placeholder: "Search by any keyword or school number", id: "searchBar" %>
    <%= submit_tag "Search" %>
  <% end %>


<script>
  function checkStatus() {
    if (document.getElementById("searchBar").value != "") {
      document.getElementById("resultsTable").style.visibility = "visible";      
    }
  }

  window.onload = checkStatus;
</script>


<!-- Sets up look of table -->
<html>
  <head>
    <style>
      #resultsTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: separate;
        width: 100%;
        border:solid #008080 1px;
        border-radius:6px;
      }

      #resultsTable  th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #008080;
        color: white;
        border-top: none;
      }

      #resultsTable td {
        text-align: center;
      }

      #resultsTable td:first-child {
        border-left: none;
      }

      #resultsTable td, #resultsTable th {
        border: 0px solid #ddd;
        padding: 8px;
      }

      #resultsTable tr:nth-child(even){background-color: #f2f2f2;}

      #resultsTable tr:hover {background-color: #ddd;}


    </style>
  </head>
  <body>

    <!-- Code for the table displaying the search results -->
    <table id="resultsTable" border ="1" width =100% style="visibility:hidden" script="onload='checkStatus()'">

      <tr>
        <% @columns = @data.column_names %>
        <% @columns.each do |col| %>
        <th>
          <%= col %>
        </th>
        <% end %>
      </tr>
      <% @data = @data.order('"School Number"') %>
      <% @data.each do |datum| %>
      <tr>
        <% @columns = @data.column_names %>
        <% @columns.each do |col| %>
        <td>
          <%= datum[col] %>
        </td>
        <% end %>

        <!-- Appends the Show/Edit/Destroy options as hyperlinks -->
        <td><%= link_to 'Show', datum %></td>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
<br>

<%= link_to 'New Datum', new_datum_path %>
